
body
{
    margin: 0;
    padding: 0;
}

.container
{
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
}

.col_001
{
    width: 50%;
    padding: 20px;
    background: #d6ccc2;
    color: #78290f;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.col_002
{
    width: 50%;
    display: flex;
    padding: 20px;
    align-items: end;
    background: #e3d5ca;
}

#keyboard
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.ABC{
    display: flex;
    align-items: end;
    justify-content: center;
    flex-wrap: wrap;
}
.ABC>button
{
    margin: 5px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    background: #FFFFFF;

    width: 50px;
    height: 50px;
}

#ahorimg
{
    width: 60%;
}

#pColor
{
    color: #78290f;
}

#output
{
    margin: 10px;
    font-size: 50px;
}

.add_letter
{
    width: 100%;
    display: flex;
}

#term
{
    width: 70%;
}

#calcular
{
    width: 30%;
}

#gameOver
{
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(0, 0, 0, 0.6);
    transition: opacity 0.5s ease;
}

#gameOver.show
{
    opacity: 1;
    pointer-events: auto;
}

#gameOver.content
{
    background: #FFFFFF;
    max-width: 420px;
    width: 100%;
    text-align: center;
    border-radius: 16px;
    padding: 30px;
}

.correct {
    background-color: #a7c957 !important;
}

.wrong {
    background-color: #bc4749 !important;
}

#mensaje
{
padding: 15px 30px;
font-size: 20px;
text-align: center;
color: #0a0908;
cursor: pointer;
position: absolute;
left: 50%;
top: 50%;


}